<!-- Footer -->
<footer class="page-footer font-small indigo footerb">

        <!-- Footer Links -->
        <div class="container">
      
          <!-- Grid row-->
          <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!">About us</a>
              </h6>
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a routerLink="/ticketscrud" href="#!">Tickets</a>
              </h6>
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a href="#!">Services</a>
              </h6>
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a routerLink="/signup" href="#!">Sign Up</a>
              </h6>
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-2 mb-3">
              <h6 class="text-uppercase font-weight-bold">
                <a routerLink="/login" href="#!">LogIn</a>
              </h6>
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row-->
          <hr style="margin: 0 15%; border-top: 1px solid #fff;">
      
          <!-- Grid row-->
          <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      
            <!-- Grid column -->
            <div class="col-md-8 col-12 mt-5">
              <p style="line-height: 1.7rem">Sign Up today and get notifications for upcoming Developer Events & meetups</p>
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row-->
          <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
      
          <!-- Grid row-->
          <div class="row pb-3">
      
            <!-- Grid column -->
            <div class="col-md-12">
      
              <div class="mb-5 text-center">
      
                <!-- Facebook -->
                <a class="fb-ic">
                  <i class="fa fa-facebook fa-lg white-text mr-md-4"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                  <i class="fa fa-twitter fa-lg white-text mr-md-4"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                  <i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                  <i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                  <i class="fa fa-instagram fa-lg white-text mr-md-4"> </i>
                </a>
                <!--Pinterest-->
                <a class="pin-ic">
                  <i class="fa fa-pinterest fa-lg white-text"> </i>
                </a>
      
              </div>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row-->
      
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright: <b>CodingFive</b>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->