.footer-top {
  text-align: center;
  padding: 10px 0;
  background: #4d5460;
}
.footer-bottom {
  text-align: center;
  padding: 10px 0;
}
.footer-bottom .name{
    color: deepskyblue;
    font-size: 19px;
}
.footer-top p {
  margin: 0;
}
