.content {
  width: 100%;
  background: linear-gradient(to right, rgb(44, 62, 80), rgb(76, 161, 175));
}
  mat-card {
    max-width: 350px;
    text-align: center;
    animation: fadein 1s;
    -o-animation: fadein 1s; /* Opera */
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    background: #ffffff3b;
    margin: 5% 0;
    -webkit-box-shadow: 0px 0px 52px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 52px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
  }
  
  mat-input-container {
    display: block;
  }
  
  mat-spinner {
    width: 25px;
    height: 25px;
    margin: 20px auto 0 auto;
  }
  
  button {
    display: block;
    width: 100%;
    font-size: 18px;
  }
  
  .error {
    color: #D50000;
  }
  
  .success {
    color: #8BC34A;
  }
  
  
  @media screen and (max-width: 599px) {
  
    .content {
      /* https://github.com/angular/flex-layout/issues/295 */
      display: block !important;
    }
  
    mat-card {
      /* https://github.com/angular/flex-layout/issues/295 */
      display: block !important;
      max-width: 999px;
    }
  
  }
  
  a {
    text-decoration: none;
    cursor: auto;
    color: #FFFFFF;
  }
  