:host {
  display: block;
  color: rgb(0, 0, 0);
  font-family: 'Tinos', serif;
}

.content {
  padding:13% 5%;
}

@media screen and (min-width: 600px) and (max-width: 1279px) {
  .content {
    margin: 20px 30px;
  }
}

@media screen and (max-width: 599px) {
  .content {
    margin: 8px 12px;
  }
}
