<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">


<div class="container-fluid" style="padding:0;">

    <header id="home" class="top-hero jumbotron-fluid p-b-3 bg-faded">
        <div class="container animated fadeInUp">
            <h1 class="display-3 animate-left">Dev Tickets</h1>
            <p class="lead m-t-1 m-b-2">{{ 'EVERYTHINGSUBTITILE' | translate }}.</p>
            <button type="button" id="test" class="btn btn-lg btn-primary m-t-1" routerLink="/ticketsuser">{{ 'BUYTICKETS' | translate }}</button>
            <button type="button" id="test" class="js-scroll btn btn-lg btn-default m-t-1" routerLink="/contact">{{ 'CONTACTUS' | translate }}</button>
        </div>
    </header>

    <div class="section light-bg">

        <div class="container">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    <ul class="list-unstyled ui-steps">
                        <li class="media">
                            <div class="circle-icon mr-4">1</div>
                            <div class="media-body" id="test">
                                <h5 class="secttwotitle">{{ 'CREATEANACCOUNT' | translate }}</h5>
                                <p class="sectwop">{{ 'CREATEANACCOUNTDESCRIPTION' | translate }}
                                </p>
                            </div>
                        </li>
                        <li class="media my-4">
                            <div class="circle-icon mr-4">2</div>
                            <div class="media-body" id="test">
                                <h5 class="secttwotitle">{{ 'SEARCHFORADEVTICKET' | translate }}</h5>
                                <p class="sectwop">{{ 'SEARCHFORADEVTICKETDESCRIPTION' | translate }}
                                </p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="circle-icon mr-4">3</div>
                            <div class="media-body" id="test">
                                <h5 class="secttwotitle">{{ 'ENJOYYOUREVENT' | translate }}</h5>
                                <p class="sectwop">{{ 'ENJOYYOUREVENTDESCRIPTION' | translate }}

                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="assets/image/iphonex.png" alt="iphone" class="img-fluid">
                </div>

            </div>

        </div>

    </div>


    <div class="section light-bg">

        <div class="container">

            <div class="col-md-12 text-center">
                <h2>{{ 'LEARNCODING' | translate }}</h2>
                <div class="line-separator-white"></div>
            </div>
            <div class="row mb-5">
                <div class="col-md-3 text-center minHeight">
                    <i class="devicon-php-plain colored programmingLang"></i>
                </div>
                <div class="col-md-3 text-center minHeight">
                    <i class="devicon-java-plain colored programmingLang"></i>
                </div>
                <div class="col-md-3 text-center minHeight">
                    <i class="devicon-javascript-plain colored programmingLang"></i>
                </div>
                <div class="col-md-3 text-center minHeight">
                    <i class="devicon-angularjs-plain colored programmingLang"></i>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-3 text-center minHeight">
                    <i class="devicon-android-plain colored programmingLang"></i>
                </div>
                <div class="col-md-3 text-center minHeight">
                    <i class="devicon-csharp-plain colored programmingLang"></i>
                </div>
                <div class="col-md-3 text-center minHeight">
                    <i class="devicon-git-plain colored programmingLang"></i>
                </div>
                <div class="col-md-3 text-center minHeight">
                    <i class="devicon-html5-plain colored programmingLang"></i>
                </div>
            </div>

        </div>

    </div>

    <!-- Learn Industry -->
    <section id="topics" class="banner learn p-y-3">
        <div class="wrapper">
            <div class="container">

                <!-- Row -->
                <div class="row" style="margin-top:100px;">

                    <!-- number -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="number">
                            <i class="fa fa-users"></i>
                            <h3 class="white-text">
                                <span class="counter">
                                    <span class="counter">17000</span>
                                </span>
                            </h3>
                            <span class="white-text">{{ 'HAPPYCLIENTS' | translate }}</span>
                        </div>
                    </div>
                    <!-- /number -->

                    <!-- number -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="number">
                            <i class="fa fa-trophy"></i>
                            <h3 class="white-text">
                                <span class="counter">154</span>K
                            </h3>
                            <span class="white-text">{{ 'AWARDSWON' | translate }}</span>
                        </div>
                    </div>
                    <!-- /number -->

                    <!-- number -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="number">
                            <i class="fa fa-coffee"></i>
                            <h3 class="white-text">
                                <span class="counter">8004</span>K
                            </h3>
                            <span class="white-text">{{ 'CUPSOFCOFFE' | translate }}</span>
                        </div>
                    </div>
                    <!-- /number -->

                    <!-- number -->
                    <div class="col-sm-3 col-xs-6">
                        <div class="number">
                            <i class="fa fa-file"></i>
                            <h3 class="white-text">
                                <span class="counter">45</span>
                            </h3>
                            <span class="white-text">{{ 'PROJECTSCOMPLETED' | translate }}</span>
                        </div>
                    </div>
                    <!-- /number -->

                </div>
                <!-- /Row -->

            </div>
            <!-- /Container -->
        </div>
    </section>


    <!-- Team -->
    <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">{{'OURTEAM' | translate}}</h5>
            <div class="line-separator-white"></div>
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class=" img-fluid" src="assets/image/tzimpoulasnikos.jpg" alt="card image">
                                        </p>
                                        <h4 class="card-title">{{ 'NIKOSTZIMPOULAS' | translate }}</h4>
                                        <p class="card-text">Full Stack Developer </p>
                                        <a href="#" class="btn btn-primary btn-sm">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">DevTickets</h4>
                                        <p class="card-text">
                                            {{ 'NIKOSDESCRIPTION' | translate }}.
                                        </p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/tzimpoulasnikos">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/tzimpoulasnikolaos/">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://github.com/tzimpoulog">
                                                    <i class="fa fa-github"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://plus.google.com/112060231597571127665">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class=" img-fluid" src="./../../assets/image/johndimou.jpg" alt="card image">
                                        </p>
                                        <h4 class="card-title">{{ 'JOHNDIMOU' | translate }}</h4>
                                        <p class="card-text">Java Software Developer / Unity3D Developer.</p>
                                        <a href="#" class="btn btn-primary btn-sm">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">DevTickets</h4>
                                        <p class="card-text">{{ 'JOHNDESCRIPTION' | translate }}.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/john-dimou-2528b6148/">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class=" img-fluid" src="./../../assets/image/mikeverrosfan.jpg" alt="card image">
                                        </p>
                                        <h4 class="card-title">{{ 'MIKEVERROS' | translate }}</h4>
                                        <p class="card-text">Java and php Developer.</p>
                                        <a href="#" class="btn btn-primary btn-sm">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">DevTickets</h4>
                                        <p class="card-text">{{ 'MIKEDESCRIPTION' | translate }}.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="www.VerroEisaiPantouKaiPouthena.org">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="www.EmfanisouSeKapoioSocialMedia.verros">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class=" img-fluid" src="./../../assets/image/christosvantarakis.jpg" alt="card image">
                                        </p>
                                        <h4 class="card-title">{{ 'CHRISTOSVANTARAKIS' | translate }}</h4>
                                        <p class="card-text">Web Developer.</p>
                                        <a href="#" class="btn btn-primary btn-sm">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">DevTickets</h4>
                                        <p class="card-text">{{ 'CHRISTOSDESCRIPTION' | translate }}.
                                        </p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/christos-vantarakis/">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class=" img-fluid" src="./../../assets/image/panagiotislamprakis.jpeg" alt="card image">
                                        </p>
                                        <h4 class="card-title">{{ 'PANAGIOTISLAMPRAKIS' | translate }}</h4>
                                        <p class="card-text">N.T.U.A graduate.</p>
                                        <a href="#" class="btn btn-primary btn-sm">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">DevTickets</h4>
                                        <p class="card-text">{{ 'PANAGIOTISDESCRIPTION' | translate }}!</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/panos.lamprakis.5">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/panagiotis-a-lamprakis-9a8143144/">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://github.com/Panos-Lamprakis">
                                                    <i class="fa fa-github"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://plus.google.com/u/0/114363114087600712073">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class=" img-fluid" src="./../../assets/image/harrygiannakidis.jpg" alt="card image">
                                        </p>
                                        <h4 class="card-title">{{ 'HARRYGIANNAKIDIS' | translate }}</h4>
                                        <p class="card-text">Mentor.</p>
                                        <a href="#" class="btn btn-primary btn-sm">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">DevTickets</h4>
                                        <p class="card-text">{{ 'HARRYDESCRIPTION' | translate }}.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Team -->


</div>