<div class="content" fxLayout="row" fxLayoutAlign="center none">
  <app-api-card
    fxFlex
    title='"ANOIXTO SERVICE"'
    subTitle="Public"
  
    content='PARADEIGMA ANOIXTOU SERVICE , DEN THELEI AUTHENTICATION EINAI PUBLIC '
    apiText="/api/foo"
    [responseObj]="fooResponse"
    (apiClick)="makeRequest($event)"
  >
  </app-api-card>

  <app-api-card
     fxFlex
     title='"POIOS EIMAI"'
     subTitle="MONO OI XRHSTES ME ROLO: USER"
     content='PARADEIGMA endpoint POU THELEI AUTHENTICATION ME ROLO USER ALLIOS GURNAEI DENY'
     apiText="/api/whoami"
     [responseObj]="whoamIResponse"
     (apiClick)="makeRequest($event)"
  >
  </app-api-card>

  <app-api-card
     class="last"
     fxFlex
     title='"FERE OLOUS TOUS XRHSTES APO THN VASH"'
     subTitle="MONO XRHSTES ME ROLO: ADMIN"

     content='AUTO TO endpoint MPOROUNE NA TO DOUNE MONO OI ADMIN'
     apiText="/api/user/all"
     [responseObj]="allUserResponse"
     (apiClick)="makeRequest($event)"
  >
  </app-api-card>
</div>

