<div class="contact-page">
  <div class="container">
      <div class="container myContainer">
          <label class="active">
            {{'CONTACTUS' | translate}}
          </label>
          <!-- <h2 style="color:whitesmoke;" class="active">{{'YOURSHOPPINGCART' | translate}}</h2> -->
        </div>
    <div class="row contact-form">
      <div class="col-md-5">
        <p>
          <i class="fa fa-map-marker "></i>Pelika ke Spartis, Μαρούσι 151 22
        </p>
        <p>
          <i class="fa fa-envelope "></i>info@devtickets.com
        </p>
        <p>
          <i class="fa fa-phone "></i>(0030) 210 1111 222
        </p>
      </div>

      <div class="col-md-7">
        <div class="align-items-center">
          <form class="centralizeForm">
            <!-- name -->
            <div class="input-group mb-3 form-width">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <span class="fa fa-user"></span>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="{{ 'USERNAME' | translate}}" aria-label="Name" aria-describedby="basic-addon1">
            </div>

            <!-- Email -->
            <div class="input-group mb-3 form-width">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input type="text" class="form-control" placeholder="email" #email aria-label="Email" aria-describedby="basic-addon1">
            </div>

            <!-- Text Area -->
            <div class="input-group form-width">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <span class="fa fa-envelope"></span>
                </span>
              </div>
              <textarea class="form-control" aria-label="With textarea" placeholder="{{ 'TYPEYOURMESSAGEHERE' | translate}}."></textarea>
            </div>
            <div class="submit-area">
              <button class="submit" (click)="onSubmitContact()">{{ 'SUBMIT' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <agm-map [zoom]="15" [latitude]="lat" [longitude]="lng" [gestureHandling]="cooperative">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>