.contact-page {
  padding: 3% 0 10px 0;
}
.contact-title {
  text-align: center;
  font-size: 42px;
  border-bottom: 1px solid;
  padding-bottom: 25px;
  margin-bottom: 100px;
}
.contact-form {
  padding-bottom: 40px;
}
.contact-form p {
  font-size: 18px;
  padding-bottom: 13px;
}
i.fa {
  padding-right: 10px;
}
.submit-area {
  text-align: right;
  padding-top: 30px;
}
.submit {
  background: #0099cc;
  border: none;
  color: white;
  width: 130px;
  height: 50px;
  font-size: 21px;
  border-radius: 8px;
  transition: all 0.75s ease-in-out;
}
.submit:hover {
  cursor: pointer;
  background: #2098ff;
  border-radius: 0px;
  transition: all 0.75s ease-in-out;
}
agm-map {
  height: 300px;
}

.line-separator {
  height: 2px;
  background: #ef233c;
  border-bottom: 1px solid #ef233c;
  width: 100px;
  margin: auto;
}

.form-width {
}

.card-height {
  height: 200px;
}

.centralizeFavicon {
  padding-top: 5%;
  padding-bottom: 5%;
}

.centralizeForm {
  padding-left: 14%;
}


.container {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  width: 980px;
}

.myContainer {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.active {
  border-bottom: 2px solid #1161ed;
  text-align: center;
  position: static;
  color: rgba(0, 0, 0, 0.54);
  font-size: 35px;
}