.content {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#4c6680), to(#4ca1af));
  background: linear-gradient(to right, #4c6680, #4ca1af);
}

mat-card {
  max-width: 350px;
  text-align: center;
  animation: fadein 1s;
  -o-animation: fadein 1s; /* Opera */
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  background: #ffffff3b;
  margin: 7% 0;
  -webkit-box-shadow: 0px 0px 52px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
}
.content h4 {
  padding-bottom: 20px;
}
mat-input-container {
  width: 100%;
}

mat-spinner {
  width: 25px;
  height: 25px;
  margin: 20px auto 0 auto;
}

.error {
  color: #D50000;
}

.success {
  color: #8BC34A;
}

@media screen and (max-width: 599px) {

  .content {
    /* https://github.com/angular/flex-layout/issues/295 */
    display: block !important;
  }

  mat-card {
    /* https://github.com/angular/flex-layout/issues/295 */
    display: block !important;
    max-width: 999px;
  }

}
