<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<br>
<div style="padding-top: 30px;" class="changePasswordFormUser">
  <h3 style="color:whitesmoke;" class="active">{{ 'CHANGEPASSWORD' | translate }}</h3>

  <body style="background-color:#505050;" class="text-center">
    <p [class]="notification.msgType" style="color:red;" *ngIf="notification">{{notification.msgBody}}</p>

    <form class="form-signin" *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #changePasswordForm="ngForm" style="padding-top:30px;">

      <label style="color:whitesmoke;" for="inputEmail" class="active">{{ 'OLDPASSWORD' | translate}}</label>
      <input style="color:whitesmoke;" formControlName="oldPassword" required placeholder="{{ 'OLDPASSWORD' | translate}}" 
      class="text centralizeInput" type="password">
      <br />

      <label style="color:whitesmoke;" for="inputEmail" class="active">{{ 'NEWPASSWORD' | translate}}</label>
      <input style="color:whitesmoke;" formControlName="newPassword" required placeholder="{{ 'NEWPASSWORD' | translate}}" 
      class="text centralizeInput" type="password">
      <br />
      <br>

      <button class="resetPassword" type="submit" [disabled]="!changePasswordForm.form.valid">{{ 'CHANGEPASSWORD' | translate }}</button>
      <hr class="hrLine">
    </form>
    <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
    <br>
    
  </body>
</div>
<br>
