<div class="card border-0 bcolor">
  <div class="container mb-4">
    <div class="py-5 text-center">
      <label class="active">
        {{ 'CHECKOUT' | translate}}
      </label>
    </div>

    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">{{ 'YOURCART' | translate}}</span>
          <span class="badge badge-secondary badge-pill">{{ 'UNIQUEITEMS' | translate}}:{{getUniqueItems()}}</span>
        </h4>
        <ul class="list-group mb-3">
          <div *ngFor="let pr of data" class="">
            <li class="list-group-item d-flex justify-content-between lh-condensed backgroundComponentsColor">
              <div>
                <h6 class="my-0">{{pr.ticket.name}}</h6>
                <small class="text-muted text-muted-specified">{{ 'QUANTITY' | translate}}: {{pr.itemQuantity}}</small>
              </div>
              <span class="text-muted text-muted-specified">{{ 'PRICE' | translate}}: {{pr.ticket.price * pr.itemQuantity }} €</span>
            </li>
          </div>
        </ul>
        <ul>
          <li class="list-group-item d-flex justify-content-between backgroundComponentsColor">
            <span>{{ 'SUBTOTAL' | translate}} (EUR): </span>
            <strong>{{getRawValue()}}€</strong>
          </li>
          <li class="list-group-item d-flex justify-content-between backgroundComponentsColor">
            <span>{{ 'TAXES' | translate}} (5%): </span>
            <strong>{{getTax()}}€</strong>
          </li>
          <li class="list-group-item d-flex justify-content-between backgroundComponentsColor">
            <span>{{ 'SHIPPING' | translate}}: </span>
            <strong>{{shippingCost}}€</strong>
          </li>
          <li class="list-group-item d-flex justify-content-between backgroundComponentsColor">
            <span>{{ 'TOTAL' | translate}} (EUR)</span>
            <strong>{{getCartValue()}}€</strong>
          </li>
        </ul>

      </div>
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">{{ 'BILLINGADDRESS' | translate}}</h4>
        <form class="needs-validation" novalidate="">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">{{ 'FIRSTNAME' | translate}}</label>
              <input type="text" class="form-control backgroundComponentsColor" id="firstName" placeholder="{{ 'NAMEPLACEHOLDER' | translate}}" value="" required="">
              <div class="invalid-feedback">
                {{ 'VALIDFIRSTNAME' | translate}} .
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">{{ 'LASTNAME' | translate}} </label>
              <input type="text" class="form-control backgroundComponentsColor" id="lastName" placeholder="{{ 'SURNAMEPLACEHOLDER' | translate}}" value="" required="">
              <div class="invalid-feedback">
                {{ 'VALIDLASTNAME' | translate}} Valid last name is required.
              </div>
            </div>
          </div>


          <div class="mb-3">
            <label for="email">{{ 'EMAIL' | translate}}
              <span class="text-muted">{{ 'OPTIONAL' | translate}} </span>
            </label>
            <input type="email" class="form-control backgroundComponentsColor" id="email" placeholder="you@example.com">
            <div class="invalid-feedback">
              {{ 'VALIDEMAILADDRESS' | translate}} .
            </div>
          </div>

          <div class="mb-3">
            <label for="address">{{ 'ADDRESS' | translate}} </label>
            <input type="text" class="form-control backgroundComponentsColor" id="address" placeholder="{{ 'ADDRESSPLACEHOLDER' | translate }}" required="">
            <div class="invalid-feedback">
              {{ 'SHIPPINGADDRESS' | translate}} .
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="country">{{ 'COUNTRY' | translate}} </label>
              <input class="form-control backgroundComponentsColor" id="country" placeholder="{{ 'COUNTRYPLACEHOLDER' | translate }}" required="">
              <div class="invalid-feedback">
                {{ 'VALIDCOUNTRY' | translate}} .
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="state">{{ 'STATE' | translate}} </label>
              <input class="form-control backgroundComponentsColor" id="state" placeholder="{{ 'STATEPLACEHOLDER' | translate }}" required="">
              <div class="invalid-feedback">
                {{ 'VALIDSTATE' | translate}} .
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="zip">{{ 'ZIP' | translate}} </label>
              <input type="text" class="form-control backgroundComponentsColor" id="zip" placeholder="{{ 'ZIPPLACEHOLDER' | translate }}" required="">
              <div class="invalid-feedback">
                {{ 'ZIPREQUIRED' | translate}} .
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="same-address">
            <label class="custom-control-label" for="same-address">{{ 'SAMEADDRESS' | translate}} .</label>
          </div>

          <hr class="mb-4">

          <h4 class="mb-3">{{ 'PAYMENT' | translate}} </h4>

          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
              <label class="custom-control-label" for="credit">{{ 'CREDITCARD' | translate}} </label>
            </div>
            <div class="custom-control custom-radio">
              <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
              <label class="custom-control-label" for="debit">{{ 'DEBITCARD' | translate}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cc-name">{{ 'NAMEONCARD' | translate}} </label>
              <input type="text" class="form-control backgroundComponentsColor" id="cc-name" placeholder="{{ 'NAMEPLACEHOLDER' | translate}} {{ 'SURNAMEPLACEHOLDER' | translate}}"
                required="">
              <small class="text-muted">{{ 'FULLNAMEONCARD' | translate}} </small>
              <div class="invalid-feedback">
                {{ 'CARDNAMEREQUIRED' | translate}}
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-number">{{ 'CREDITCARDNUMBER' | translate}} </label>
              <input type="text" class="form-control backgroundComponentsColor" id="cc-number" placeholder="XXXX-XXXX-XXXX-XXXX" required="">
              <div class="invalid-feedback">
                {{ 'CREDITCARDREQUIRED' | translate}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">{{ 'EXPIRATION' | translate}} </label>
              <input type="text" class="form-control backgroundComponentsColor" id="cc-expiration" placeholder="MM/YY" required="">
              <div class="invalid-feedback">
                {{ 'EXPIRATIONREQUIRED' | translate}}
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">{{ 'CVVNUMBER' | translate}} </label>
              <input type="text" class="form-control backgroundComponentsColor" id="cc-cvv" placeholder="XXX" required="">
              <div class="invalid-feedback">
                {{ 'SECURITYCODEREQUIRED' | translate}}
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" (click)="checkout(content)" type="submit">{{ 'SUBMITORDER' | translate}} </button>
        </form>
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <img alt="success" class="app-angular-logo" src="assets/image/success.png" style="height:100px;width:100px;">
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 class="modal-title">DevTickets</h4>
            <h3>{{ 'TICKETSAREYOURS' | translate}} !!!</h3>
            <p>{{ 'WHERETOFIND' | translate}} </p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="c('Close click')" [routerLink]="['/userpage']">{{ 'PROFILE' | translate}}</button>
            <button type="button" class="btn btn-primary" (click)="c('Close click')" [routerLink]="['']">{{ 'HOME' | translate}} </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>