<ngb-tabset class="nav-fill">
    <ngb-tab title=" {{ 'ADDTICKET' | translate }}">
        <ng-template ngbTabContent>
            <!--
            <ng-template #content let-c="close" let-d="dismiss">
            </ng-template>
-->

            <div class="container">
                <div *ngIf="message" class="alert alert-success">
                    <strong>Success!</strong>{{message}}
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-6 p10">
                        <h3 class='text-center'>{{'INSERTTICKET' |translate}}</h3>
                        <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)" (input)="onChangeForm(userDetailsForm.value)">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                                <span class="fa fa-calendar"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <input class="width90percent height40px" placeholder="yyyy-mm-dd" name="date" formControlName="date" ngbDatepicker #d="ngbDatepicker"
                                        matInput>
                                    <!-- changed class="form-control"-->
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-code"></span>
                                    </span>
                                </div>
                                <input class="width90percent height40px" #nameInput matInput placeholder="Name" type="text" formControlName="name" required>
                            </div>


                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-pencil"></span>
                                    </span>
                                </div>
                                <input class="width90percent height40px" #languageInput matInput placeholder="Description" type="textarea" formControlName="language"
                                    required>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-ticket"></span>
                                    </span>
                                </div>
                                <input class="width90percent height40px" #availableInput matInput placeholder="Available" type="number" formControlName="available"
                                    required>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-image"></span>
                                    </span>
                                </div>
                                <div class="upload-btn-wrapper">
                                    <button class="btnUp">Upload a file</button>
                                    <input type="file" #imageInput (change)="onFileSelected($event)" required>
                                </div>

                            </div>


                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-map-marker"></span>
                                    </span>
                                </div>
                                <input class="width90percent height40px" #locationInput matInput placeholder="Location" type="text" formControlName="location"
                                    [formControl]="searchControl" required>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-money"></span>
                                    </span>
                                </div>
                                <input class="width90percent height40px" #priceInput matInput placeholder="Price" type="number" formControlName="price" required>
                            </div>

                            <div class="form-group">
                                <button class="submit-btn" color="primary" mat-raised-button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 p10" style="margin-top:40px;">
                        <div class="card border-0">
                            <h3 class='text-center'>New Ticket Preview</h3>
                            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [mapTypeId]="mapType">
                                <agm-marker *ngIf="tracked" [latitude]="userLatitude" [longitude]="userLongitude" [iconUrl]="userIcon">
                                </agm-marker>
                                <agm-marker *ngFor="let position of obj" [latitude]="position.latitude" [longitude]="position.longitude">
                                </agm-marker>
                            </agm-map>
                            <div class="card-body">
                              
                                <div class="row">
                                    <!-- <div class="col-md-3" >
                                        <span class="fa fa-calendar" >{{ date | date }}</span>
                                        
                                    </div> -->
                                    <div class="col-md-9">
                                        <span class="fa fa-pencil">{{ language }}</span>
                                    </div>
                                </div>
                                <h2 class="card-title"></h2>
                                <p class="card-text"></p>
                                <div class="row">
                                    <div class="col-md-3">
                                        <span class="fa fa-money"></span> {{ price }}
                                    </div>
                                    <div class="col-md-3">
                                        <span class="fa fa-code"></span> {{ name }}
                                    </div>
                                    <div class="col-md-3">
                                        <span class="fa fa-map-marker"></span> {{ location }}
                                    </div>
                                    <div class="col-md-3">
                                        <span class="fa fa-ticket"></span> {{ available }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Google maps -->



            <ng-template #modify let-c="close" let-d="dismiss">
                <div class="container-fluid pt10">
                    <h3 class="text-center">Modify a Ticket</h3>
                    <hr>
                    <div *ngIf="selectedProduct" class="container">
                        <form class="form-inline">
                            <div class="form-group" style="display: none">
                                <label for="usr">ID:</label>
                                <input #idEditInput placeholder="" value="{{selectedProduct.id}}">
                            </div>
                            <div class="input-group mb-3 width90percent">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-globe"></span>
                                    </span>
                                </div>
                                <input class="width90percent height40px" #nameEditInput value="{{selectedProduct.name}}">
                            </div>
                            <div class="input-group mb-3 width90percent">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-map-marker"></span>
                                    </span>
                                </div>
                                <input class="width90percent height40px" #languageEditInput placeholder="Language" value="{{selectedProduct.language}}">
                            </div>
                            <div class="input-group mb-3 width90percent">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-map-marker"></span>
                                    </span>
                                </div>
                                <input class="width90percent height40px" #locationEditInput placeholder="Price" value="{{selectedProduct.location}}">
                            </div>
                            <div class="input-group mb-3 width90percent">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-money"></span>
                                    </span>
                                </div>
                                <input class="width90percent height40px" #priceEditInput placeholder="Price" value="{{selectedProduct.price}}">
                            </div>
                            <div class="input-group mb-3 width90percent">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-ticket"></span>
                                    </span>
                                </div>
                                <input class="width90percent height40px" #availableEditInput placeholder="available" value="{{selectedProduct.available}}">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" (click)="editProduct(idEditInput.value, nameEditInput.value, languageEditInput.value, availableEditInput.value, locationEditInput.value, priceEditInput.value); idEditInput.value=''; nameEditInput.value=''; languageEditInput.value=''; availableEditInput.value=''; locationEditInput.value=''; priceEditInput.value=''; ">Edit Product</button>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>{{ 'EDITDELETETICKETS' | translate }}</ng-template>
        <ng-template ngbTabContent>
            <!--
                <ng-template #content let-c="close" let-d="dismiss">
                </ng-template>
    -->
            <h3 class="text-center">{{'Edit Ticket' |translate}}</h3>
            <hr>
            <div class="container">
                <div *ngIf="message" class="alert alert-success">
                    <strong>Success!</strong>{{message}}
                </div>

                <table class="table" style="border: 9px solid #e9e9e9;">
                    <thead style="background-color: #e9e9e9;">
                        <tr>
                            <th>Total Tickets {{ totalElements }}</th>
                            <th (click)="orderByName('name')">
                                <span>{{'ΝΑΜΕ'| translate}}</span>
                                <div class="arrows">
                                    <i class="fa fa-caret-up"></i>
                                    <i class="fa fa-caret-down"></i>
                                </div>
                            </th>
                            <th (click)="orderByName('language')">{{'LANGUAGE' | translate}}</th>
                            <th>{{'AVAILABE' | translate}}</th>
                            <th>{{'LOCATION' | translate}}</th>
                            <th (click)="orderByName('price')">{{'PRICE' | translate}}</th>
                            <th>Date</th>
                            <th>{{'SETTINGS' | translate}}</th>
                            <th>
                                <select class="showRows" (change)="changeShowRows($event.target.value)">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>15</option>
                                    <option>20</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pr of data">
                            <td style="width:20%;">
                                <img height="80" (click)="goToProductDetails(pr.id)" width="80" src='data:image/png;base64,{{pr.image}}'> </td>
                            <td>{{ pr.name }}</td>
                            <td>{{ pr.language }}</td>
                            <td>{{ pr.available }}</td>
                            <td>{{ pr.location }}</td>
                            <td>{{ pr.price | currency }}</td>
                            <td>{{ pr.date | date }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="onSelectedProduct(pr, open2(modify))">{{ 'MODIFY' | translate }}</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="onDelete(pr.id)">{{ 'DELETE' | translate }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination">
                    <li *ngFor='let in of counter(totalPages) ;let i = index' class="page-item">
                        <span (click)="changePage(i+1)" class="page-link" [ngClass]="{activePage:i===number}">{{ i+1 }}</span>
                    </li>
                </ul>

            </div>


            <!-- Google maps -->



            <ng-template #modify let-c="close" let-d="dismiss">
                <div class="container-fluid pt10">
                    <h3 class="text-center">{{ 'MODIFYATICKET' | translate }}Modify a Ticket</h3>
                    <hr>
                    <div *ngIf="selectedProduct" class="container">
                        <form class="form-inline">
                            <div class="form-group" style="display: none">
                                <label for="usr">ID:</label>
                                <input #idEditInput placeholder="" value="{{selectedProduct.id}}">
                            </div>
                            <div class="input-group mb-3 width90percent">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-globe"></span>
                                    </span>
                                </div>
                                <input class="width90percent height40px" #nameEditInput value="{{selectedProduct.name}}">
                            </div>
                            <div class="input-group mb-3 width90percent">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-map-marker"></span>
                                    </span>
                                </div>
                                <input class="width90percent height40px" #languageEditInput placeholder="Language" value="{{selectedProduct.language}}">
                            </div>
                            <div class="input-group mb-3 width90percent">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-map-marker"></span>
                                    </span>
                                </div>
                                <input class="width90percent height40px" #locationEditInput placeholder="Price" value="{{selectedProduct.location}}">
                            </div>
                            <div class="input-group mb-3 width90percent">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-money"></span>
                                    </span>
                                </div>
                                <input class="width90percent height40px" #priceEditInput placeholder="Price" value="{{selectedProduct.price}}">
                            </div>
                            <div class="input-group mb-3 width90percent">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fa fa-ticket"></span>
                                    </span>
                                </div>
                                <input class="width90percent height40px" #availableEditInput placeholder="available" value="{{selectedProduct.available}}">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" (click)="editProduct(idEditInput.value, nameEditInput.value, languageEditInput.value, availableEditInput.value, locationEditInput.value, priceEditInput.value); idEditInput.value=''; nameEditInput.value=''; languageEditInput.value=''; availableEditInput.value=''; locationEditInput.value=''; priceEditInput.value=''; ">Edit Product</button>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="{{ 'REPORTS' | translate }}">
        <ng-template ngbTabContent>
            <div class="container-fluid">
                <div class="row mt-5">
                    <div class="col-md-6">
                        <h5 class="text-center justified">{{'TICKETS' | translate}}</h5>
                        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="chart" [gradient]="gradient" [xAxis]="showXAxis"
                            [yAxis]="showYAxis" [legend]="showLegend" [legendTitle]="legendTitleBar" [xAxisLabel]="xAxisLabelBar" [yAxisLabel]="yAxisLabelBar" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                            [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)" style="margin:auto">
                        </ngx-charts-bar-vertical>
                    </div>
                    <div class="col-md-6">
                        <ngx-charts-gauge [view]="view" [scheme]="colorScheme" [results]="chartUserObj" [min]="0" [max]="20" [angleSpan]="240" [startAngle]="-120"
                            [units]="'Users'" [bigSegments]="10" [smallSegments]="5" (select)="onSelect($event)">
                        </ngx-charts-gauge>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>