<div class="container-fluid mt-4">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><span class="fa fa-globe"></span></span>
          </div>
      <input #nameInput placeholder="Name">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><span class="fa fa-map-marker"></span></span>
          </div>
      <input #languageInput placeholder="Language">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><span class="fa fa-ticket"></span></span>
          </div>
        <input #availableInput placeholder="Available">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><span class="fa fa-map-marker"></span></span>
          </div>
        <input #locationInput placeholder="Location">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><span class="fa fa-money"></span></span>
          </div>
        <input #priceInput placeholder="Price">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="postProduct(nameInput.value, languageInput.value, availableInput.value);  nameInput.value=''; languageInput.value=''; availableInput.value=''; locationInput.value=''; priceInput.value='';">Add Product</button>
    </div>
</div>

<div class="container">

  <div *ngIf="message" class="alert alert-success">
    <strong>Success!</strong>{{message}}
  </div>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th>Available</th>
      <th>Location</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let pr of data">
      <td>{{ pr.name }}</td>
      <td>{{ pr.language }}</td>
      <td>{{ pr.available }}</td>
      <td>{{ pr.location }}</td>
      <td>{{ pr.price | currency }}</td>
      <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="senfValuesToModalProduct(pr)">Επεξεργασία</button>
        <button type="button" class="btn btn-danger" (click)="deleteProducts(pr.id)">Delete</button>
      </td>
    </tr>
</table>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div *ngFor="let pr of data" class="col-6 card ">
            
            <div class="card">
                <img class="card-img-top img-fluid" src="https://dummyimage.com/400x200/563d7c/ffffff&text=.card-img-topfff&text={{ pr.language }}" alt="Card image cap">
                <div class="card-body">
                  <h2 class="card-title">{{ pr.name }}</h2>
                  <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi rem, minus omnis ullam dicta voluptas. Culpa quia eos quasi veritatis officiis excepturi saepe provident natus, illum, ea quae temporibus adipisci?</p>
                  <div class="row">
                    <div class="col-md-4">
                     <span class="fa fa-money"></span> {{ pr.price | currency }}
                    </div>
                    <div class="col-md-4">
                        <span class="fa fa-map-marker"></span> {{ pr.location }}
                    </div>
                    <div class="col-md-4">
                        <span class="fa fa-ticket pull-left"></span> {{ pr.available }} : Tickets left!
                    </div>
                  </div>
                  <a href="#" class="btn btn-success pull-right">Add to Cart</a>
                </div>
              </div>
        </div>
    </div>

</div>