agm-map {
    height: 200px;
}

.activePage{
    background-color: #c1c1c1;
    border: 1px solid;
    color: white;
}

.showRows {
    background-color: #e2e2e2;
    border: 2px solid #d4d4d4;
}

.arrows .fa {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
