<header id="site-header">
  <div class="container myContainer">
    <label class="active">
      {{'YOURSHOPPINGCART' | translate}}
    </label>
    <!-- <h2 style="color:whitesmoke;" class="active">{{'YOURSHOPPINGCART' | translate}}</h2> -->
  </div>
</header>

<div class="container containerBackground">

  <section id="cart">
    <div *ngFor="let pr of data" class="">
      <article class="product">
        <header>
          <a class="remove">
            <img src='data:image/png;base64,{{pr.ticket.image}}' alt="">

            <h3>{{pr.ticket.name}}</h3>
          </a>
        </header>

        <div class="content">
          <div class="btn btn-danger btn-xs btn-remove pull-right" (click)="deleteFromCart(pr.ticket.id)">
            <span class="fa fa-times"></span>
          </div>
          <h1>{{pr.ticket.name}}</h1>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, numquam quis perspiciatis ea ad omnis provident laborum
          dolore in atque.
        </div>

        <footer class="content">
          <h2 class="full-price">
            {{pr.ticket.price * pr.itemQuantity }} €
          </h2>
          <p class="quantityPrice">
            <b>{{'QUANTITY' | translate}}:</b> {{pr.itemQuantity}} x {{pr.ticket.price}}.00 €
          </p>
        </footer>

      </article>
    </div>
  </section>
</div>
<div class="container containerBackground containerClearCartButton">
  <div class="btn btn-danger myBtnDanger" (click)="clearCart()">{{'CLEARCART' | translate}}
    <span class="fa fa-trash fa-fw"></span>
  </div>
</div>

<footer id="site-footer">
  <div class="container clearfix">

    <div class="left">
      <h2 class="subtotal">{{'SUBTOTAL' | translate}}:
        <span>{{getRawValue()}}</span>€</h2>
      <h3 *ngIf="getRawValue() >= 0" class="tax">{{'TAXES' | translate}} (5%):
        <span>{{getTax()}}</span>€</h3>
      <h3 *ngIf="getRawValue() >= 0" class="shipping">{{'SHIPPING' | translate}}:
        <span>5.00</span>€</h3>
    </div>

    <div class="right">
      <h1 *ngIf="getRawValue() > 0" class="total">{{'TOTAL' | translate}}:
        <span>{{getCartValue()}}</span>€</h1>
      <a class="checkoutTitle">{{ 'CHECKOUT' | translate}}</a>
      <button class="btn btn-success" [routerLink]="['/checkout']">{{ 'PROCCEEDTOCHECKOUT' | translate }}</button>
    </div>

  </div>
</footer>