<div class="shopping-cart">
  <header id="site-header">
    <div class="container myContainer">
      <label class="active">
        {{'YOURSHOPPINGCART' | translate}}
      </label>
      <!-- <h2 style="color:whitesmoke;" class="active">{{'YOURSHOPPINGCART' | translate}}</h2> -->
    </div>
  </header>
  <div *ngIf="getRawValue() == 0" class="text-center">
    <h3>Your Shopping cart is empty</h3>
  </div>
  <div *ngIf="getRawValue() > 0" class="container containerBackground">

    <section id="cart">
      <div *ngFor="let pr of data" class="">
        <article class="product">
          <header>
            <a class="remove">
              <img src='data:image/png;base64,{{pr.ticket.image}}' alt="">

              <h3>{{pr.ticket.name}}</h3>
            </a>
          </header>

          <div class="content">
            <div class="btn btn-danger btn-xs btn-remove pull-right" (click)="deleteFromCart(pr.ticket.id)">
              <span class="fa fa-times"></span>
            </div>
            <h1>{{pr.ticket.name}}</h1>
           
          </div>

          <footer class="content">
            <h2 class="full-price">
              {{roundNumber(pr.itemQuantity,pr.ticket.price)}} €
            </h2>
            <p class="quantityPrice">
              <b>{{'QUANTITY' | translate}}:</b>  {{pr.itemQuantity | number:'1.2-2'}} x {{pr.ticket.price | number:'1.2-2'}} €
            </p>
          </footer>

        </article>
      </div>
    </section>
  </div>
  <div *ngIf="getRawValue() > 0" class="container containerBackground containerClearCartButton">
    <div class="btn btn-danger myBtnDanger" (click)="clearCart()">{{'CLEARCART' | translate}}
      <span class="fa fa-trash fa-fw"></span>
    </div>
  </div>

  <footer *ngIf="getRawValue() > 0" id="site-footer">
    <div class="container clearfix">

      <div class="left">
        <h2 class="subtotal">{{'SUBTOTAL' | translate}}:
          <span>{{getRawValue()}}</span>€</h2>
        <h3 *ngIf="getRawValue() > 0" class="tax">{{'TAXES' | translate}} (5%):
          <span>{{getTax()}}</span>€</h3>
        <h3 *ngIf="getRawValue() > 0" class="shipping">{{'SHIPPING' | translate}}:
          <span>5.00</span>€</h3>
      </div>

      <div class="right">
        <h1 *ngIf="getRawValue() > 0" class="total">{{'TOTAL' | translate}}:
          <span>{{getCartValue()}}</span>€</h1>
        <a class="checkoutTitle">{{ 'CHECKOUT' | translate}}</a>
        <button class="btn btn-success" [routerLink]="['/checkout']">{{ 'PROCCEEDTOCHECKOUT' | translate }}</button>
      </div>

    </div>
  </footer>
</div>