<div class="rounded-background-box">
  <div class="left-rounded-column">
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [mapTypeId]="mapType">
      <agm-marker *ngIf="tracked" [latitude]="userLatitude" [longitude]="userLongitude" [iconUrl]="userIcon">
      </agm-marker>
      <agm-marker *ngFor="let position of obj" [latitude]="position.latitude" [longitude]="position.longitude">
      </agm-marker>
  </agm-map>
    <div class="product">
       <img style="    height: auto!important;
       padding-right: 170%;" class="tablet float"  src='data:image/png;base64,{{ticket?.image}}' alt="Card image cap" >
    </div>
  </div>
  <div class="right-rounded-column">
    <div class="product-info">
    <h3>Event Details</h3>

    <h1>{{ticket?.name}}</h1>
    
     
                           Location : 
        <p> {{ticket?.location}}</p> <BR>
          <div>
            Description :
<P>{{ticket?.language}}</P><BR>
  <table style='padding-bottom: 10%;'class="table table-bordered">
    <thead>
      <tr>
        <th>Estimated Weather Conditions(OpenWeather API)</th>
        <th>Degrees</th>
        <th>Weather </th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td><img src='{{weather?.image}}' class="" /> {{weather?.description}}</td>
        <td>~{{weather?.temp}} ℃</td>
        <td>{{weather?.main}}</td>
      </tr>
   
    </tbody>
  </table>
</div>
    </div>
    <div class="cart-price">
      <button (click)='addtoCart(ticket.id)' class="button1">Add to Cart</button>
      <h2>{{ticket?.price}}€</h2>
    </div>
    </div>
</div>
<div>


   
     
<div class="rounded" >
  
 <h3 style="padding-top: 60px;" class="text-center"><img src="http://cdn.onlinewebfonts.com/svg/img_486505.png" alt="Smiley face" width="50px">   We know you are a developer, we know you love coffee!</h3>
 
 <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <button class="button2" id="singlebutton">Nearest Coffee Shops to This Event</button>
        <br><br>
        <table style='padding-bottom: 10%;'class="table table-bordered">
  <thead>
    <tr>
      <th>Coffe Shop Name</th>
      <th>Location , Address</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{coffeelist?.name1}}</td>
      <td>{{coffeelist?.address1}}</td>
     
    </tr>
    <tr>
        <td>{{coffeelist?.name2}}</td>
      <td>{{coffeelist?.address2}}</td>
       
      </tr>   <tr>
          <td>{{coffeelist?.name3}}</td>
          <td>{{coffeelist?.address3}}</td>
         
        </tr>
        <tr>
            <td>{{coffeelist?.name4}}</td>
      <td>{{coffeelist?.address4}}</td>
           
          </tr>
          <tr>
              <td>{{coffeelist?.name5}}</td>
      <td>{{coffeelist?.address5}}</td>
            </tr>
 
  </tbody>
</table>
<img src="https://cdn-images-1.medium.com/max/800/0*qBwNQRFuzN98pdCh.png" alt="Smiley face" width="290px">
      </div>
    </div>
  </div>
  




</div>
