<div class="rounded-background-box">
  <div class="left-rounded-column">
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [mapTypeId]="mapType">
      <agm-marker *ngIf="tracked" [latitude]="userLatitude" [longitude]="userLongitude" [iconUrl]="userIcon">
      </agm-marker>
      <agm-marker *ngFor="let position of obj" [latitude]="position.latitude" [longitude]="position.longitude">
      </agm-marker>
  </agm-map>
    <div class="product">
       <img style="    height: auto!important;
       padding-right: 170%;" class="tablet float"  src='data:image/png;base64,{{ticket?.image}}' alt="Card image cap" >
    </div>
  </div>
  <div class="right-rounded-column">
    <div class="product-info">
    <h3>Event Details</h3>

    <h1>{{ticket?.name}}</h1>
    
     
                           Location : 
        <p> {{ticket?.location}}</p> <BR>
          <div>
            Description :
<P>{{ticket?.language}}</P><BR>
  <table style='padding-bottom: 10%;'class="table table-bordered">
    <thead>
      <tr>
        <th>Estimated Weather Conditions(OpenWeather API)</th>
        <th>Degrees</th>
        <th>Weather </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src='{{weather?.image}}' class="" /> {{weather?.description}}</td>
        <td>~{{weather?.temp}} ℃</td>
        <td>{{weather?.main}}</td>
      </tr>
   
    </tbody>
  </table>
</div>
    </div>
    <div class="cart-price">
      <button class="button1">Add to Cart</button>
      <h2>{{ticket?.price}}€</h2>
    </div>
    </div>
</div>
