:host {
  position: relative;
  z-index: 10;
  color: #fff;
}

.my-button {
  background: none;
  color: white;
  border-bottom: 1px solid;
  border-radius: 0;
  padding-bottom: 15px;
  margin-right: 20px;
}
.greeting-button {
  cursor: pointer;
  padding: 10px 10px;
}
.greeting-button:hover span {
  color: #2098ff;
}
.my-button:hover{
  color:  #2098ff;
}
.my-button.active{
  color:  #84c6ff;
}
.app-angular-logo{
  height: 45px;
}
.badge-light {
  background: #ff2020;
  color: white;
  border-radius: 25px;
  top: -10px;
}
// The menu popup is rendered outside the header component
// so we will restyle a couple things inside a global /deep/ selector
.navbar{
  padding: 0rem 4rem;
  -webkit-box-shadow: 0px 6px 52px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 52px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 22px 2px rgba(0,0,0,0.75);
  overflow: hidden;
    background-color: #333;
    position: fixed !important;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 99999 !important;

}
.app-navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .right {
    margin-left: auto;
    float: right;
  }
}

.greeting-hamburger {
  display: none;
}

 /deep/ {
  .app-header-accountMenu.mat-menu-panel {
    border-radius: 3px;
    max-width: initial;
    overflow: visible;

    .mat-menu-content {
      max-width: initial;
      padding: 0;
      overflow: hidden;
      display: inline-block;
      margin-bottom: -6px;
    }
  }
}
@media screen and (max-width: 600px) {
  .greeting-hamburger {
    display: block;
  }
  .greeting-button {
    display: none;
  }
}


.fa-user{
  color: #2098FF;
  font-size: 27px;
  line-height: 40px;
}

