<nav  class="navbar navbar-dark bg-primary">
  <button style="background-color:#424954;"class="btn " routerLink="/">
    <img alt="DevTicketPlace" class="app-angular-logo" style="height: 70px;" src="assets/image/dev-logo.png">
    
  </button>
  


  <div class="float-right">
   
      <button *ngIf="!hasSignedIn()" routerLink="/signup" class="btn btn-primary">
        <span>Sign up</span>
      </button>
      <button *ngIf="!hasSignedIn()" routerLink="/login" class="btn btn-primary">
        <span>Login</span>
      </button>
      <button class="btn btn-primary" routerLink="/ticketscrud">Tickets</button>
      <button class="btn btn-primary" routerLink="/ticketsuser">Buy Tickets</button>
      <button
        class="greeting-button"
        *ngIf="hasSignedIn()"
        mat-button mat-ripple
        [matMenuTriggerFor]="accountMenu">
        <span>Welcome, {{userName()}}</span>
      </button>
      <button
        class="greeting-hamburger"
        *ngIf="hasSignedIn()"
        mat-icon-button mat-ripple
        [matMenuTriggerFor]="accountMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #accountMenu
        class="app-header-accountMenu"
        yposition="below"
        [overlapTrigger]="false">
        <app-account-menu ></app-account-menu>
      </mat-menu>
    </div>
  
</nav>

