.kounietai {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 10vw;
  font-weight: 900;
  text-decoration: none;
  color: white;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg, 
                    #7794ff, 
                    #44107A,
                    #FF1361,
                    #FFF800);
  animation: 2.2s shake infinite alternate;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}



:host {
  position: relative;
  z-index: 10;
  color: #fff;
}

.my-button {
  background: none;
  color: white;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  padding-bottom: 15px;
  margin-right: 20px;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
}
.my-button:hover {
  color: #2098ff;
  border-bottom: 3px solid;
  transition: all 0.75s ease-in-out;
  cursor: pointer;
}
.lan-sel {
  background: none;
  border: none;
  color: white;
  margin: 0 10px;
  font-size: 19px;
}
.lan-sel option {
  background: #424954;
  color: white;
}
.greeting-button {
  cursor: pointer;
  padding: 10px 10px;
}
.greeting-button:hover span {
  color: #2098ff;
}
.my-button.active {
  color: #84c6ff;
}
.app-angular-logo {
  height: 70px;
}
.badge-light {
  background: #0099cc;
  color: white;
  border-radius: 25px;
  position: absolute;
  top: 14px;
  right: 335px;
}
// The menu popup is rendered outside the header component
// so we will restyle a couple things inside a global /deep/ selector
.navbar {
  padding: 0rem 4rem;
  -webkit-box-shadow: 0px 6px 52px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 52px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 22px 2px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  background-color: #333;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99999 !important;
}
.app-navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .right {
    margin-left: auto;
    float: right;
  }
}

.greeting-hamburger {
  display: none;
}

/deep/ {
  .app-header-accountMenu.mat-menu-panel {
    border-radius: 3px;
    max-width: initial;
    overflow: visible;

    .mat-menu-content {
      max-width: initial;
      padding: 0;
      overflow: hidden;
      display: inline-block;
      margin-bottom: -6px;
    }
  }
}
@media screen and (max-width: 600px) {
  .greeting-hamburger {
    display: block;
  }
  .greeting-button {
    display: none;
  }
}

.fa-user {
  color: #2098ff;
  font-size: 27px;
  line-height: 40px;
}
