/<div class="container-flex" style="height:500px">
<div class="ticket" style="margin-top:100px;">
  <div class="stub">
    <div class="top">
      <span class="admit">DEVTicket</span>
      <span class="line"></span>
      <span class="num">
        UID
        <span>------</span>
      </span>
    </div>
    <div class="icon">404</div>
    <fa name="cog" animation="spin"></fa>
   
  </div>
  <div class="check">
    <div class="big">
      Page not <br> Found
    </div> 
    <div class="info">
      <section>
        <div class="title">Date</div>
        <div>404</div>
      </section>
      <section>
        <div class="title">Event</div>
        <div>404</div>
      </section>
      <section>
        <div class="title">Location</div>
        <div>404</div>
      </section>
    </div>
  </div>
</div>
</div>