/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~bootstrap/dist/css/bootstrap.min.css'; 
@import url('https://fonts.googleapis.com/css?family=Tinos');

body {
  margin: 0;
  padding: 0;
  background-color: #e2e2e2;
}

.lan-sel option:first-child {
  background-image: url(http://localhost:4200/assets/image/usa.jpg);
}

.lan-sel option:nth-child(2){
  background-image: url(http://localhost:4200/assets/image/greece.jpg);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Tinos', serif;
}

p {
  font-family: 'Tinos', serif;
}


.card {
  margin: 4px !important;
}
.col-md-4 {
  max-width: 32.333333%;
}

.selectLang {
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: white;
  height: 38px;
  padding-bottom: 5px;
  font-size: 18px;
  cursor: pointer;
}
button:focus {
  outline: none;
}
.mat-fab.mat-accent[disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled] {
  background-color: #007bff;
}

form .ng-invalid {
  border-bottom: 2px solid red;
}

form .ng-valid {
  border-bottom: 2px solid green;
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #007bff;
}

input.mat-input-element {
  margin-top: 0px;
}

.pt10{
  padding-top: 10px;
}

span#basic-addon1 {
  width: 40px;
}

.height40px{
  height: 40px;
}

.width90percent{
  width: 90% !important;
}

/* Parallax Effect*/
.imageParallax{
  background-attachment: fixsed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
  background-image:url('/assets/image/card1.jpg');
  background-position:50% 50%;
}



.parallax-text{
  margin: auto;
  width:100%;
  text-align:center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.bg-primary{

 background-color:#424954!important;
}

/* Footer*/
.footerb {
  background-color:#424954!important;
  color: white;
}

.footerb a {
  color: white;
  text-decoration: none;
}

.modal-dialog{
  max-width: 1000px;
}

.floatLeft{ float: left; }

.p10{ padding: 10px; }


.input-group-prepend {
  background-color: #e9ecef;
}