<div class="content-profile-page">
    <div class="profile-user-page card">
       <div class="img-user-profile" style="background-color: #E2E2E2">
         <img class="profile-bgHome" src="https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d39fe8df8ff9407562e2f89aec3c1318&auto=format&fit=crop&w=1050&q=80" />
         <img class="avatar" src="http://gravatar.com/avatar/288ce55a011c709f4e17aef7e3c86c64?s=200" alt="jofpin"/>
            </div>
           <div class="user-profile-data" style="background-color: #E2E2E2">
             <h1>{{userName()}}</h1>
             <p>email</p>
           </div>
       </div>
     </div>
<div class="user-page">
    <div class="row center-align">
        <div class="container">
      <div class="col-md-12">
        <div class="user-data">
        <p class="username"> </p>
      </div>
      </div>
    </div>
      <ng4-loading-spinner> </ng4-loading-spinner>
      <div class="col-md-12">
        <h2 class="history-title">{{ 'TICKETHISTORY' | translate }}</h2>
        <input type="text" placeholder="Search" [(ngModel)]="id" style="background-color: #fff;">
      </div>
      <div class="row" style="margin:auto;">
        <div *ngFor="let pr of data |filter:id" class="col-md-4 ticket-area">
          <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <h4 class="card-title">{{ 'ORDERID' | translate }} : {{pr.id}}</h4>
                                  <p class="card-text">{{ 'ORDERTOTALPRICE' | translate }} :{{pr.totalPrice}}</p>
                                  <p class="card-text">{{ 'ORDERDATE' | translate }} : {{pr.date | date}} </p>
                                  <a href="#" class="btn btn-primary btn-sm">
                                      <i class="fa fa-arrow-right"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="backside col-md-12">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">DevTickets</h4>
                                      <button (click)="getOrder(pr.id, content)" class="view-details card-text">{{ 'VIEWORDERDETAILS' | translate}}</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{ 'YOURTICKETS' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="export">
        <div class="modal-body mb-0">
          <div *ngFor="let data of cart.cart" class="col-md-12">
            <div class="ticket">
              <div class="stub">
                <div class="top">
                  <span class="admit">DEVTicket</span>
                  <span class="line"></span>
                  <span class="num">
                    {{ 'CODEALLDAY' | translate }}
                  </span>
                </div>
                <div class="icon">
                  <span>
                    <img height="120" width="150" src='data:image/png;base64,{{data.ticket.image}}'> </span>
                </div>
                <div class="name">
                  {{userName()}}
                </div>
              </div>
              <div class="check">
                <div class="big">
                  {{data.ticket.name}}
                  <br> TICKET
                </div>
                <div class="qr">
                  <qrcode [qrdata]="myAngularxQrCode" [size]="80" [level]="'M'"></qrcode>
                </div>
                <div class="info">
                  <section>
                    <div class="title">{{ 'DATE' | translate }}</div>
                    <div> {{data.ticket.date | date}}</div>
                  </section>
                  <section>
                    <div class="title">{{ 'PRICE' | translate }}</div>
                    <div>{{data.ticket.price}}</div>
                  </section>
                  <section>
                    <div class="title">{{ 'LOCATION' | translate}}</div>
                    <div>{{data.ticket.location}}</div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="c('Close click')">{{ 'CLOSE' | translate }}</button>
        <button type="button" class="btn btn-danger" (click)="download()"> {{ 'DOWNLOAD' | translate }}
          <span class="fa fa-file-pdf-o fa-fw"></span>
        </button>
      </div>

    </ng-template>