.user-page {
  padding: 0% 0;
}

.history-title {
  text-align: center;
  padding-bottom: 70px;
}
.ticket-area {
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
button.view-details {
  /* position: absolute;
  right: 0;
  top: 35px; */
  margin-top:80px;
  border: none;
  height: 50px;
  width: 210px;
  cursor: pointer;
  background: #0099cc;
  color: white;
  border-radius: 8px;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}
button.view-details:hover {
  background: #006789;
  cursor: pointer;
  border-radius: 0px;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}
.center-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.profile-img {
  width: 170px;
}
.username {
  display: inline-block;
  font-weight: bold;
  font-size: 26px;
}
.user-tickets {
  padding-top: 30px;
}
.ticket-list {
  list-style: none;
}
.ticket-name {
  font-weight: bold;
  font-size: 23px;
  margin: 0;
}
.ticket-price {
  color: blueviolet;
  font-weight: bold;
}

.ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 20px auto;
}
.ticket .stub,
.ticket .check {
  box-sizing: border-box;
}

.stub {
  background: #5477af;
  height: 250px;
  width: 250px;
  color: white;
  padding: 20px;
  position: relative;
  border-top-left-radius: 50px 50px;
  border-bottom-left-radius: 50px 50px;
}
.stub:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 20px solid #fff;
  border-left: 20px solid #fff;
  width: 0;
}
.stub:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 20px solid #fff;
  border-left: 20px solid #fff;
  width: 0;
}
.qr {
  position: absolute;
  top: 80px;
  right: 50px;
}
.stub .top {
  display: flex;
  align-items: center;
  height: 40px;
  text-transform: uppercase;
}
.stub .top .line {
  display: block;
  background: #fff;
  height: 40px;
  width: 3px;
  margin: 0 20px;
}
.stub .top .num {
  font-size: 10px;
}
.stub .top .num span {
  color: #fff;
}
.stub .icon {
  position: absolute;
  left: 20px;
  top: 80px;
}
.stub .name {
  position: absolute;
  left: 150px;
  bottom: 65px;
  color: #000;
  width: 20%;
  font-weight: bold;
}
.stub .name:before {
  content: "";
  background: #fff;
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
}

.check {
  background: #ccc;
  height: 250px;
  width: 450px;
  padding: 40px;
  position: relative;
  border-top-right-radius: 50px 50px;
  border-bottom-right-radius: 50px 50px;
}
.check:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid #fff;
  width: 0;
}
.check:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 20px solid #fff;
  border-right: 20px solid #fff;
  width: 0;
}
.check .big {
  font-size: 30px;
  font-weight: 900;
  line-height: 1em;
  margin-bottom: 20px;
}
.check .info {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  margin-top: 20px;
  width: 100%;
}
.check .info section {
  margin-right: 40px;
  width: 100px;
}
.check .info section:before {
  content: "";
  background: #5477af;
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
}
.check .info section .title {
  font-size: 10px;
  text-transform: uppercase;
}

.dark-modal .modal-content {
  background-color: #ccc;
  color: white;
}
section .section-title {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
/* display: block; */
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
/* display: block; */
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #0099CC !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #0099CC !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
#team {
   background: #2098FF;
  padding-top:100px;
  padding-bottom:150px;
   -webkit-clip-path: polygon(0 0, 100% 19%, 100% 100%, 0 86%);
 clip-path: polygon(0 0, 100% 19%, 100% 100%, 0 86%);
}
.content-profile-page {
  /* margin: 1em auto;
  width: 44.23em; */
}
.profile-user-page .img-user-profile {
	/* margin: 0 auto; */
  text-align: center; 
}
.profile-user-page .img-user-profile .profile-bgHome {
	border-bottom: .2em solid #f5f5f5;
  width: 100%;
  height: 190px;
  }
.profile-user-page .img-user-profile .avatar {
  margin: 0 auto;
  border: 5px solid #fff;
  background: #1B89DA;
  width: 7em;
  height: 7em;
  padding: 0.25em;
  border-radius: .4em;
  margin-top: -50px;;
  box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
}

.profile-user-page .user-profile-data, .profile-user-page .description-profile {
  text-align: center;
  padding: 0 1.5em; 
}
.profile-user-page .user-profile-data h1 {
  font-family: "Lato", sans-serif;
  margin-top: 0.35em;
  color: #292f33;
  margin-bottom: 0; 
}
.profile-user-page .user-profile-data p {
	font-family: "Lato", sans-serif;
  color: #8899a6; 
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0.5em; 
}
.profile-user-page .description-profile {
  color: #75787b;
  font-size: 0.98em; 
}



