<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<br>
<div style="padding-top: 30px;" class="login">
  <h2 style="color:whitesmoke;" class="active">Reset Your Password</h2>

  <body style="background-color:#505050;" class="text-center">

    <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmitForm(form.value)" style="padding-top:30px;">

      <label style="color:whitesmoke;" for="inputEmail" class="">EMAIL</label>
      <input style="color:whitesmoke;" formControlName="email" required placeholder="email" class="text">

      <button class="signin" type="submit" [disabled]="!form.valid" >Reset Password</button>
    </form>
    <hr>
  </body>
</div>
<br>